.c-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #586069;
  max-width: 30%;
  text-align: center;
}
.c-title:before {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: -10px;
  right: -30px;
  border-radius: 100% 0;
  box-shadow: 
  #a3459b -2px -2px 0 1px,
  #60b1f5 -4px -4px 0 3px,
  #6ad7f8 -6px -6px 0 5px,
  #afde2e -8px -8px 0 7px,
  #fee124 -10px -10px 0 9px,
  #f99716 -12px -12px 0 11px,
  #fb323c -14px -14px 0 13px;
  transform: rotate(80deg);
  animation: shaking 4s infinite ease;
}

.c-title:after {
  content: '↖这东西我能看一年';
  position: absolute;
  top: 60px;
  left: calc(100% + 60px);
  width: 125px;
  max-width: 40%;
  font-size: 12px;
  opacity: 20%;
}

@keyframes shaking {
  from { transform: rotate(70deg) }
  50% { transform: rotate(80deg) }
  to { transform: rotate(70deg) }
}

.c-menu {
  display: flex;
  background: linear-gradient(to right, #fb323c, #f99716, #fee124, #afde2e, #6ad7f8, #60b1f5, #a3459b);
  -webkit-background-clip: text;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 90px);
  max-width: 30%;
}
.c-menu .c-item {
  margin: 0 10px;
  cursor: pointer;
  color: #586069;
  text-decoration: none;
}
.c-menu .c-item:hover{
  color: transparent;
}
.c-menu .none {
  cursor: not-allowed;
}